p, h1{
    color: #E0E1DD;
    text-decoration: none;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 60px;
}

body {
    background-color: #1B263B;
    margin: 0;
    padding: 0;
}

::selection {
  background: #778DA9;
  color: #E0E1DD;
}