p, a.navbar-link, h1 {
    color: #E0E1DD;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: #0D1B2A;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 15vw;
    position: relative;
}

.navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.navbar-list {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin-right: 1.5rem;
}

.navbar-link {
    color: #000000;
    text-decoration: none;
}

body {
    background-color: #1B263B;
    margin: 0;
    padding: 0;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 3rem;
}


.hero-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 60px 0 0 0;
}

.hero-subtitle {
    font-size: 2rem;
    font-weight: 500;
    margin: 5px 0 0 0;
}

.hero-information {
    font-size: 1.5rem;
    margin: 5px 0 0 0;
}

.hero-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.highlight-hero {
    color: #778DA9;
}

.hero-container {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    height: 400px;
}

.hero-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    filter: invert(36%) sepia(9%) saturate(878%) hue-rotate(172deg) brightness(89%) contrast(88%);
}

.hero-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    filter: invert(36%) sepia(9%) saturate(878%) hue-rotate(172deg) brightness(89%) contrast(88%);
    gap: 1rem;
}

.hero-buttons a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #E0E1DD;
}

.hero-buttons img {
    width: 32px;
    height: 32px;
    margin-right: 3px;
}

/* BURGER MENU STYLES */
.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #E0E1DD;
  border-radius: 2px;
}

@media (max-width: 900px) {
  .burger {
    display: flex;
  }

  .navbar-list {
    flex-direction: column;
    background-color: #0D182A;
    position: absolute;
    top: 60px;
    right: 0;
    width: 20%;
    padding: 1rem 2rem;
    z-index: 1000;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding: 0 2rem;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    pointer-events: none;
  }

  .navbar-list.open {
    max-height: 300px; 
    opacity: 1;
    padding: 1rem 2rem;
    pointer-events: auto;
  }

  .navbar-item {
    margin: 0.5rem 0;
  }

  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-buttons {
    justify-content: center;
    align-items: center;
  }
}

.skills-container {
    background-color: #0D1B2A;
    width: 100%;
    height: 400px;
}